
body {
background-color: #060706;;   
}

.principal {
    width: 100%;
    display:flex;
    flex-direction:row;
}

.coluna1, .coluna2, .coluna3, .coluna4, .coluna5 {

    align-items: center;
    margin: 1%;
}
.coluna1 {
    flex-grow: 1;
    background: #350206;
}

.coluna2 {
    flex-grow: 1;
    background: #060706;
}

.coluna3 {
    flex-grow: 1;
    background: #93a31c;
}

.coluna4 {
    flex-grow: 1;
    background:#060706;
}

.coluna5 {
    flex-grow: 1;
    background: #350206;
}


img {
    width: 100%; 
    margin: 1%;
    border-radius: 10%; 
}

h1 {
    text-align: center;
    font-size: 5em;
    color: #9f05c2;
    font-weight: 900;
    margin: 1%;  
    border: 5px solid; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff; 
}


h2 {
    text-align: center;
    font-size: 2.5em;
    color: #fff;

}

p {
    color: #fff;
    text-align: center;
    
    font-size: 2em;
}
a {
    color: #fff;
    text-align:center
    
}